* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #14203E;
  font-size: 14px;
}


.container {
  max-width: 1600px;
  max-height: 1200px;
  margin:  auto;
  padding: 0 16px;
}


header {
  width: 100%;
  padding: 16px 0;
  
  
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap; 
}


.logo {
    color: #14203E3D;
  font-weight: bold;
  font-size: 18px;
  text-decoration: transparent;
}


nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  justify-content: center;
  margin-left: 1%;
}


.buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

button {
  font-family: inherit;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  white-space: nowrap; 
}


button.login {
  background-color: #F6F0E8;
  color: #14203E;
  border-radius: 10;
  
}

button.start {
  background-color: #14203E;
  color: #F6F0E8;
  border-radius: 10px;
}

button:hover {
  opacity: 0.9;
}



.main-content{
    padding: 90px;
   display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f8f6f3 ;
    justify-content: center;
    
    
}
.main-content .text{
    text-align: center;
    padding: 30px; 
  
}

.main-content .text p {
    padding: 20PX;
}

.main-content .start2{
    height:73px ;
    width: 192px;
  background-color: #14203E;
  color: #F6F0E8;
  border-radius: 10px;
}

.share {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.line {
    height: 1px;
    background-color: #ddd;
    width: 150px; 
}

.textt {
    font-family: IBM Plex Sans;
    font-weight: 600;
    line-height: 100%;
    padding: 0 20px;
    white-space: nowrap;
    font-size: 14px;
}

 .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    max-width: 1600px;
    gap: 20px; 
    margin:auto ;
    padding: 2%;
    background-color: #ffffff;

    
}

.grid-container img {
    width: 290px;
    height: 231px;
   
    
  
}

.grid-container p {
    margin: 0 0 10px 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4;
    

 ;
}

.grid-container span {
    color: #14203E;
    font-size: 14px;
    font-weight: -20;
    margin-top: auto;
    width: 72px;
    height: 18px;


}


@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 10%;
  }

  .card {
    padding: 12px;
    align-items: center;
    align-content: center;
  }
}


